body,a,h1,h2,h3,h4,h5,h6,h7,p,ul,ol,li,span{
    font-family: 'Montserrat';
}

.principal-content h3{
    font-weight: 900 !important;
}

.principal-content p{
    padding-bottom: 2em !important;
    font-size: 1.2em !important;
    line-height: 1.2em !important;
    min-height: inherit !important;
}

.principal-content2 p{
    font-size: 1em !important;
    line-height: 1.2em !important;
    min-height: inherit !important;
    color: #000 !important;
}

.principal-content{
    padding-bottom: 2em;   
}

.principal-content2{
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.42);
    -moz-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.42);
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.42);
    padding: 0.5em 1em;
}

.principal-content2.john{
    -webkit-box-shadow: 0px 0px 3px 1px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(128,128,128,1);
    box-shadow: 0px 0px 3px 1px rgba(128,128,128,1);
    background-color: #FFF;
}

.rounder{
    border-radius: 50px !important;
    background-color: #EF0A36 !important;
    cursor: pointer;
}

.rounder2{
    border-radius: 50px !important;
    background-color: #44A5AF !important;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
}
.rounder2:hover{
    color: #FFF;
}

.bondr-logo100{
    width: 100%;
    max-width: 290px;
}
.john-maeda {
    max-height: 120px;
}

#stcky-menu2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #FFF;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.42);
}
#stcky-menu2 li a{
    text-transform: uppercase;
}

.blue-bckgrnd{
    background-image: url("../img/fondo2-bootcamp.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.g-advantages {
    margin: 0.5em;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(36,36,36,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(36,36,36,1);
    box-shadow: 0px 0px 5px 1px rgba(36,36,36,1);
}

.semi-white-section{
    background-color: #F9F9F9;
}

.g-caso{
    padding: 0.25em 0.5em;
    background-color: #FCCC32;
    color: #FFF;
    font-weight: bold;
    float: left;
}

.central-bosh-img{
    width: 100%;
    max-width: 500px;
    margin-bottom: 1em;
}

u{
    color: #369BFF;
    cursor: pointer;
}

.g-stores{
    position: absolute;
    bottom: 0;
    right: 0;
}

.store{
    width: 120px;
}